:root { 
--black_900_b2:#000000b2; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0a58ff; 
--gray_900_cc:#0d1624cc; 
--blue_gray_100_01:#d9d9d9; 
--blue_gray_900_14:#1f293714; 
--blue_A100:#80b0ff; 
--blue_A700_01:#0061ff; 
--green_600:#349765; 
--gray_50:#f9fbff; 
--black_900_01:#090b0d; 
--black_900_00:#00000000; 
--black_900_66:#00000066; 
--black_900:#000000; 
--blue_gray_800:#363853; 
--blue_gray_700:#424c5d; 
--blue_gray_900:#262b35; 
--black_900_02:#000919; 
--red_A200_01:#ff4b4b; 
--black_900_bf:#000000bf; 
--gray_900_02:#0d1624; 
--black_900_4c:#0000004c; 
--blue_gray_200:#bac1ce; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d6dae2; 
--gray_700_b7:#626262b7; 
--black_900_4d:#0000004d; 
--black_900_e5:#000000e5; 
--blue_gray_400:#74839d; 
--gray_800_19:#46464619; 
--blue_gray_300:#9ea8ba; 
--red_A200:#fd6161; 
--blue_gray_600:#5f6c86; 
--gray_900:#11142d; 
--gray_900_01:#1d1d1d; 
--white_A700_00:#ffffff00; 
--gray_800_0c:#4646460c; 
--blue_200:#a6c8ff; 
--white_A700:#ffffff; 
}